.wrapper-dns{
    margin-top: 10%;
}

.container.wrapper-dns .title{
    margin: 30px 0;
    text-align: center;
}

.container.wrapper-dns .margin-bottom{
    margin-bottom: 40px;
}

.container.wrapper-dns .lists .rows{
    display: block;
}

.container.wrapper-dns .error{
    color: red;
}

.container.wrapper-dns ul{
    margin: 0;
}

.container.wrapper-dns .container.wrapper-results{
    margin-top: 5%;
    border-top:1px solid;
    padding: 20px 0;
}

footer{
    margin-top: 5%;
}

footer p{
    margin: 4px;
}
